<%- include('./partials/_header.ejs') %>
<link rel="stylesheet" href="styles/booking/main.css">
<%- include('./partials/_navbar.ejs') %>

<div class="container--booking">
  <h1>Fazer uma reserva</h1>
  <h2>Escolhe um funcionário</h2>
  <div class="container--clients">
    <% data.staff.forEach((order, i) => { %>
      <a href="/booking/<%= data.id_client %>/<%= data.id_service %>/<%= data.staff[i].id %>" class="booking--client--staff">
        <div class="avatar" style="background-image: url('<%= data.staff[i].photo %>'); background-size: cover;"></div>

        <p class="book--staff--name">
          <%= data.staff[i].name %>
        </p>
      </a>
    <% }) %>
  </div>

  <a href="/" class="btn btn--round">Go back home</a>
</div>

<%- include('./partials/_footer.ejs') %>